html {
    background: url(img/images/Dubai.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{   display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: inherit;
    text-align: center;
    grid-gap: 3px;
}

/*Footer and header should have the same background color. Both footer
and header should take up full width.

Use a font from Google fonts throughout the page.

*/



 header, footer {
        background-color: darkolivegreen;
        grid-column: 1/9;
        font-family: 'Monoton', cursive;
        color: #eeeeee;
        font-size: 22px; }

nav{ background-color: #C5DA6B;
    grid-column: 1/9;
    font-size: x-large;
    font-family: 'Shrikhand', cursive;

}

a{ text-decoration: none;
    color: #eeeeee;
}

/*Links should increase in size when hovering them and they should be
placed vertically.

Use at least one pseudo-class
*/


a:hover{ font-size: 33px;      }

nav ul li{
    list-style: none;
    margin-bottom: 5px;
    margin-right: 30px;
    border-bottom: solid inherit 3px;
    background-color: #2D7D7A;
}

/*All sections in the main content-section should have borders so it's easy
to see what goes together.*/
main section{ border: solid 2px black;}
main {   grid-gap: 1px;
         grid-column: 1/9;
          padding: 22px;}

main .ImagesFigure>* {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
    font-size: 22px;
}
main .ImageFigure>figure>*{
    display: flex;
    padding-left: 22px;
    border: solid 2px red;
    font-size: 22px;

}

main a{ background-color: #2D7D7A;
        color: #dddddd;
         border-radius: 5px;font-family:'Shrikhand', cursive;
}



/*--------- CSS FOR MOBILE ---------*/

@media screen and (max-width: 780px){

    html {
        background: url(mobile.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }



}